In [1]:
import pandas as pd

In [14]:
df = pd.read_pickle("../data/GBP_JPY_M5.pkl")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446362 entries, 0 to 446361
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   time    446362 non-null  datetime64[ns, tzutc()]
 1   volume  446362 non-null  int64
 2   mid_o   446362 non-null  float64
 3   mid_h   446362 non-null  float64
 4   mid_l   446362 non-null  float64
 5   mid_c   446362 non-null  float64
 6   bid_o   446362 non-null  float64
 7   bid_h   446362 non-null  float64
 8   bid_l   446362 non-null  float64
 9   bid_c   446362 non-null  float64
 10  ask_o   446362 non-null  float64
 11  ask_h   446362 non-null  float64
 12  ask_l   446362 non-null  float64
 13  ask_c   446362 non-null  float64
dtypes: datetime64[ns, tzutc()](1), float64(12), int64(1)
memory usage: 47.7 MB

In [13]:
df.head()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2016-01-07 00:00:00+00:00,147,83.968,84.022,83.943,83.969,83.956,84.008,83.931,83.956,83.980,84.035,83.955,83.982
1,2016-01-07 00:05:00+00:00,126,83.971,84.056,83.960,84.030,83.959,84.044,83.947,84.018,83.983,84.069,83.971,84.042
2,2016-01-07 00:10:00+00:00,92,84.033,84.041,83.962,83.962,84.021,84.029,83.950,83.951,84.045,84.053,83.974,83.974
3,2016-01-07 00:15:00+00:00,98,83.960,84.000,83.940,84.000,83.948,83.989,83.928,83.989,83.973,84.010,83.953,84.010
4,2016-01-07 00:20:00+00:00,117,83.997,84.010,83.958,83.964,83.985,84.000,83.946,83.953,84.009,84.020,83.969,83.976