In [5]:
import pandas as pd
from plotting import CandlePlot
pd.set_option("display.max_columns", None)

In [2]:
df_ma_res = pd.read_pickle("../data/ma_res.pkl")
df_ma_trades = pd.read_pickle("../data/ma_trades.pkl")

In [11]:
df_ma_res.granularity.unique()

array(['H1', 'H4'], dtype=object)

In [12]:
df_ma_res_h1 = df_ma_res[df_ma_res.granularity == "H1"].copy()
df_ma_trades_h1 = df_ma_trades[df_ma_trades.granularity == "H1"].copy()

In [13]:
df_ma_trades_h1.shape

(17243, 32)

In [14]:
df_ma_res_h1.columns

Index(['pair', 'num_trades', 'total_gain', 'mean_gain', 'min_gain', 'max_gain',
       'ma_l', 'ma_s', 'cross', 'granularity'],
      dtype='object')

In [16]:
df_cross_summary = df_ma_res_h1[['pair', 'num_trades', 'total_gain', 'cross']].copy()

In [17]:
df_cross_summary

        pair  num_trades  total_gain         cross
0    EUR_USD         207         225   MA_10_MA_20
1    EUR_USD         115         213   MA_10_MA_40
2    EUR_USD         107         132   MA_20_MA_40
3    EUR_USD         109        -219   MA_30_MA_40
4    EUR_USD          81        -526   MA_10_MA_80
..       ...         ...         ...           ...
235  CAD_JPY          40        -402  MA_40_MA_120
236  CAD_JPY          48         349  MA_10_MA_150
237  CAD_JPY          32        -107  MA_20_MA_150
238  CAD_JPY          32        -320  MA_30_MA_150
239  CAD_JPY          32        -332  MA_40_MA_150

[240 rows x 4 columns]

In [21]:
df_cross_gr = df_cross_summary.groupby(by="cross", as_index=False).sum()
df_cross_gr.sort_values(by="total_gain", ascending=False, inplace=True)

In [23]:
df_cross_gr.head()

,cross,pair,num_trades,total_gain
2,MA_10_MA_20,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,3129,3098
3,MA_10_MA_40,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1697,2394
7,MA_20_MA_40,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1500,1982
11,MA_30_MA_40,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1713,-3104
10,MA_30_MA_150,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,537,-4669

In [27]:
total_pairs = len(df_ma_res_h1.pair.unique())

In [28]:
total_pairs

15

In [29]:
temp = df_ma_res_h1[df_ma_res_h1.cross == "MA_10_MA_40"]

In [34]:
temp[temp.total_gain > 0].shape[0]

10

In [35]:
for c in df_ma_res_h1.cross.unique():
    temp = df_ma_res_h1[df_ma_res_h1.cross == c]
    pg = temp[temp.total_gain > 0].shape[0]
    print(f"{c} pg:{pg} percent gain:{(pg / total_pairs) * 100:.0f}%")

MA_10_MA_20 pg:9 percent gain:60%
MA_10_MA_40 pg:10 percent gain:67%
MA_20_MA_40 pg:11 percent gain:73%
MA_30_MA_40 pg:7 percent gain:47%
MA_10_MA_80 pg:6 percent gain:40%
MA_20_MA_80 pg:3 percent gain:20%
MA_30_MA_80 pg:4 percent gain:27%
MA_40_MA_80 pg:4 percent gain:27%
MA_10_MA_120 pg:2 percent gain:13%
MA_20_MA_120 pg:3 percent gain:20%
MA_30_MA_120 pg:3 percent gain:20%
MA_40_MA_120 pg:2 percent gain:13%
MA_10_MA_150 pg:4 percent gain:27%
MA_20_MA_150 pg:5 percent gain:33%
MA_30_MA_150 pg:4 percent gain:27%
MA_40_MA_150 pg:2 percent gain:13%